body {
  padding-left: 150px;
  padding-right: 150px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-top: 220px;
}

h1 {
  font-size: 32pt;
  position: fixed;
  top: 10px;
  z-index: 10000;

}

h2 {
  font-size: 20pt;
  position: fixed;
  top: 80px;
  z-index: 10000;
}

#topper {
  width: 300%;
  background: #CCC;
  z-index: 9999;
  height: 180px;
  padding-left: 0px;
  margin-left: -250px;
  position: fixed;
  top: 0px;
  border-bottom: 1px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;

}


#thisisit {
  display: inline;
  padding: 10px;
  background-color: #FF00B7;
}

a {
  color: #00B7FF;
}

.event {
  padding: 10px;
  border: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: dotted;
  width: 400px;
}

#footer {
   position:fixed;
   right:0px;
   bottom:0px;
   height:30px;
   width:100%;
   padding: 10px;
   background:#555;
   font-size: 12px;
   text-align: right;
}
