body {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 150px;
  padding-right: 150px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 36pt;
}

h2 {
  font-size: 24pt;
}

#thisisit {
  display: inline;
  padding: 10px;
  background-color: #FF00B7;
}

a {
  color: #00B7FF;
}

.event {
  padding: 10px;
  border: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: dotted;
}

#footer {
   position:fixed;
   right:0px;
   bottom:0px;
   height:30px;
   width:100%;
   padding: 10px;
   background:#555;
   font-size: 12px;
   text-align: right;
}
